.Chat-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* justify-content: center; */
    color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    padding-top: 94px;
    padding-bottom: 64px;
}

.Title {
    border-bottom-style: solid;
    border-bottom-width: medium;
    width: 100%;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
}

.Chat-list{
    width: 100%;
}

.Chat-info{
    border-bottom-style: solid;
    border-bottom-width: medium;

}

.Chat-info img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}