.pomodoro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 80px;
  width: 100vw;
}

.pomodoro-button {
    height: 32px;
    width: 107px;
    appearance: none;
    color: white;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin: 12px 20px;
}

.productivity-message-new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    color: white;
    padding: 30px;
    text-align: center;
    background-color: #1400FF;
    width: 80%;
    border-radius: 15px;

}

.pomodoro-buttons-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 80%;
} 

.create-pomodoro {
    height: 35px;
    width: 200px;
    appearance: none;
    color: white;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin: 12px 20px;
}