.following-container{
    color: white;
    margin-top: 100px;
    padding-left: 30px;
}

.following-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.follower {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.follower li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.follower-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}