.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeSquare {
    display: flex;
    height: 196px;
    width: 296px;
    background-color: #5D8586;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.RegisterButton{
    height: 29px;
    width: 109px;
    border-radius: 10px;
    appearance: none;
    border: none; 
    outline: none; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
}

.LoginButton{
    height: 29px;
    width: 109px;
    background-color: #463E3E;
    color: white;
    border-radius: 10px;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}