.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    width: auto;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeSquare {
    display: flex;
    height: 196px;
    width: 296px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
}

.HomeSquare .RegisterButton{
    height: 32px;
    width: 107px;
    appearance: none;
    outline: none; 
    background-color: white;
    color:#1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    border-radius: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
}

.HomeSquare .LoginButton{
    height: 32px;
    width: 107px;
    color: white;
    appearance: none;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    text-align: center;
    text-decoration: none;
}