.Login-Container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    color: white;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    padding: 0 12px;
}

.Form {
    width: 80%;
    height: 400px;
    background-color: white;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    color: #1400FF;
    max-width: 768px;
    padding: 8px;
}

.Form input {
    width: 90%;
    height: 41px;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
}

.Form button {
    height: 32px;
    width: 107px;
    color: white;
    appearance: none;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    margin: 12px auto 0;
} 

.Login {
    height: 260px; 
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.Login .input {
    margin-top: 15px;
}