.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.profile-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 80px;
  width: 100vw;
}

.profile-post-images img {
  object-fit: cover;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  width: 200px;
  height: 200px;
}

.profile-user-main-info {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 50px;
  margin-top: 20px
}

.profile-user-main-info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 20px
}

.posts-info   {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  width: 100%;
}