.post-by-user-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 90%;
    background-color: black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.post-by-user-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    color: #1400FF;  

}

.post-by-user-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
}

.delet-button-posts {
    background-color: #E23F44;
    color: white;
    border-color: #E23F44;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    width: auto;
}

.Update-Button{
    text-decoration: none;
    width: auto;
    color: #1400FF;
    appearance: none;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-color: white;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.Lower-Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.Lower-Menu a {
    text-decoration: none;
    color: #1400FF;
    appearance: none;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

}