.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 70%;
    justify-content: center;
    border-color: white;
    border-width: small;
    border-style: solid;
    padding: 0 30px;
    color:#1400FF;
    border-radius: 20px;
} 

.pomodoro-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.pomodoro-input input{
    border-width: medium;
    border-style: solid;
    border-radius: 20px;
    width: 100%;
    padding: auto;
    text-align: center;
    color: black;
}

.form-container .pomodoro-button {
    height: 32px;
    width: 107px;
    appearance: none;
    color: white;
    outline: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #1400FF;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin: 12px 20px;
}