.TitleBar {
    background-color: rgba(255, 255, 255, 0.9);
    height: 94px;
    color: #1400FF;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 0;
    border: 0;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 30px;
    
} 

.TitleBar h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.TitleBar-item {
    color: #1400FF !important;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.TitleBar__link {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color:#1400FF;
}

.profile-titlebar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    border-color: #1400FF;
    border-width: medium;
    border-style: solid;
}